<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home - Lyric Giraffe</title>
    <link rel="stylesheet" href="styles/styles.css">
    <link rel="icon" href="images/favicon.png">
  </head>
  <body>

    <div id="webheader">
      <a href="/"><img src="/images/giraffe.png"></a>
      <h1>Lyric Giraffe</h1>
      <em><h2>For your lyric finding needs!</h2></em>
      <a href="/popularsearch"><img src="/images/charts.png"></a>
    </div>

    <div class="outer-container">
      <div class="inner-container">
        <h1>Welcome to Lyric Giraffe!</h1>
        <h2>To get started, search by song and artist or by Spotify username:</h2>
        <div id="selection">
          <a id="inputbutton" href="/inputlyrics">
            <button>
                <span>Direct Input<br>Song & Artist</span>
            </button>
          </a>
          <a href="/spotifylyrics"><img id="spotifybutton" src="images/spotifyimg.png"></a>
        </div>
      </div>
    </div>

  </body>
</html>
