<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home - Lyric Giraffe</title>
    <link rel="stylesheet" href="styles/styles.css">
    <link rel="icon" href="images/favicon.png">
  </head>
  <body>

    <div id="webheader">
      <a href="/"><img src="/images/giraffe.png"></a>
      <h1>Lyric Giraffe</h1>
      <em><h2>For your lyric finding needs!</h2></em>
    </div>

    <div class="outer-container">
      <div class="inner-container">
        <h1>Welcome to Lyric Giraffe!</h1>
        <h2>About Us</h2>
        <p>Insert relevant text</p>
        <h2>To get started, sign in to Spotify or search directly by song and artist:</h2>
        <div id="selection">
          <a id="inputbutton" href="/inputlyrics">Direct Input (Song/Artist)</a><br>
          <img id="spotifybutton" src="images/spotifyimg.png">
        </div>
      </div>
    </div>

  </body>
</html>
