<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Popular Search - Lyric Giraffe</title>
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="icon" href="/images/favicon.png">
  </head>
  <body>

    <div id="webheader">
      <img src="/images/giraffe.png">
      <h1>Lyric Giraffe</h1>
      <em><h2>For your lyric finding needs!</h2></em>
    </div>

    <div class="outer-container">
      <div class="inner-container">
        <h1>Welcome to Lyric Giraffe!</h1>
        <h2>About Us</h2>
        <p>Insert relevant text</p>
      </div>
    </div>

  </body>
</html>
