<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Spotify Lyrics - Lyric Giraffe</title>
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="icon" href="/images/favicon.png">
  </head>
  <body>

    <div id="webheader">
      <a href="/"><img src="/images/giraffe.png"></a>
      <h1>Lyric Giraffe</h1>
      <em><h2>For your lyric finding needs!</h2></em>
    </div>

    <div class="outer-spotify">
      <div class="inner-container">
        <h1>Search using Spotify</h1>
      </div>
      <div class="split spotify">
        <div>
          <form method="post" id="inputform">
            <span>Spotify Username:</span>
            <input type="text" name="spotify_username" required>
            <button type="submit">
              <span id="search">Search</span>
            </button>
          </form>
          {% if length %}
            <h3>Playlists:</h3>
            {% for i in range(length) %}
              <h3>{{names[i]}}<h3>
              <form>
                {% for trackname in tracknames[i]%}
                  <input type="radio" name="template" value="{{trackname}}"/>
                  <h5>{{trackname[0]}}</h5>
                  <h6>{{trackname[1]}} </h6>
                  <br>
                {% endfor %}
                <input type="submit" value="go"/>
              </form>
            {% endfor %}
          {% endif %}
        </div>
        <!-- <div class="centered">
          <img src="/images/spotifyimg.png">
          <h2>Spotify</h2>
          <p>Web player here</p>
        </div> -->
      </div>

      <div class="split lyrics">
        <div class="centered">
          <img src="/images/giraffe.png">
          <h2>Lyrics</h2>
          <p>Lyrics here</p>
        </div>
      </div>
    </div>

  </body>
</html>
