<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Spotify Lyrics - Lyric Giraffe</title>
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="icon" href="/images/favicon.png">
  </head>
  <body>

    <div id="webheader">
      <a href="/"><img src="/images/giraffe.png"></a>
      <h1>Lyric Giraffe</h1>
      <em><h2>For your lyric finding needs!</h2></em>
      <a href="/popularsearch"><img src="/images/charts.png"></a>
    </div>

    <div class="outer-spotify">
      <div class="inner-container">
        <h1>Search using Spotify</h1>
      </div>
      <div class="split spotify">
        <div>
          <form method="post" id="inputform">
            <span>Spotify Username:</span>
            <input type="text" name="spotify_username" required>
            <button type="submit">
              <span id="search">Search</span>
            </button>
            <input type = "hidden" name = "form_name" value = "user">
          </form>
          {% if length %}
            <h3>To use - first select a song, then hit enter, or go to the bottom of the scroll</h3>
            <br>
            <h3>Playlists:</h3>
            <br>
            {% for i in range(length) %}
              <h3 class="playlist">{{names[i]}}<h3>
              <form method = "post">
                {% for trackname in tracknames[i]%}
                  <h5>{{trackname[0]}}</h5>
                  <input type="radio" name="track" value="{{trackname[0]}} / {{trackname[1]}}={{username}}">
                  <h6>{{trackname[1]}} </h6>
                  <br>
                {% endfor %}
            {% endfor %}
            <input type = "hidden" name = "form_name" value = "lyrics">
            <!-- <input id="submit_button" type="submit"  value="Find lyrics"/>
          </form> -->
          {% endif %}
        </div>
        <!-- <div class="centered">
          <img src="/images/spotifyimg.png">
          <h2>Spotify</h2>
          <p>Web player here</p>
        </div> -->
      </div>

      <div class="split lyrics">
        <div>
          {% if lyric == None %}
            <img src="/images/giraffe.png">
            <h2>Lyrics</h2>
            <p>Lyrics here</p>
          {% else %}
          <div id="inputLyricsBox">
            <div class="songdetails">
              <!-- <h1>{{track}}</h1>
              <h1>{{artist}}</h1> -->
              {% if track|string() != "" %}
                <h1> "{{track}}" </h1>
              {% else %}
                <h1> {{error}} </h1>
              {% endif %}
              <h1> {{artist}} </h1>
            </div>

              {% for line in lyrics %}
                {% if line == '' %}
                  <br>
                {% else %}
                  <p>
                    {{line}}
                  </p>
                {% endif %}
              {% endfor %}
          </div>
          {% endif %}
        </div>
      </div>
    </div>

  </body>
</html>
